#sign_up{
  padding:8rem 0 8rem 0 ;
}

#sign_up p{
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.42rem;
}

.input_wrapper{
  width: min(300px, 80%);
  position: relative;
  margin: 2rem 0;
}

.input_wrapper label{
  color: #828282;
  background-color: #4f4f4f;
  padding: .8rem 1.2rem;
  opacity: .9;
  cursor: pointer;

  font-size: 1rem;
  font-weight: 700;
  line-height: 1.2rem;
  border-radius: .5rem;

  position: absolute;
  top: -12px;
  left: 10px;
}

.input_wrapper label:hover{
  opacity: 1;
}

.form_input{
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.815rem;

  padding: 1.8rem 2.8rem;
  width: 100%;

  border: none;
  border-radius: 1rem;
  outline: none;

  background-color: #333;
  color: #fff;
}

.form_btn{
  color: #fff;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 1.815rem;
  text-align: center;
  opacity: .9;

  width: min(300px, 80%);
  padding: 1.8rem 2.8rem;
  border: none;
  border-radius: 1rem;
  outline: none;
}

.form_btn:hover{
  text-decoration: none;
  color: #fff;
  opacity: 1;
}

.signUp_form span{
  width: min(300px, 80%);
  text-align: center;
  font-weight: 600;
  font-size: 1rem;
  line-height: 1.21rem;
  position: relative;
 
}

.signUp_form span::before, 
.signUp_form span::after{
  content: '';
  display: block;
  width: 40%;
  border-bottom: 1px solid #333;
  position: absolute;
  top: 5px;
}

.signUp_form span::before{
  right: 0;
}

@media screen and (max-width: 450px){
  .primary_nav{
    padding-right: 3rem;
  }
}